<!-- header wrap start here -->
<div class="header_wrap">
        <div class="logo"><a href="#"><%= image_tag "logo.jpg" %></a></div>
        <div class="login_btn">
           <% if current_user %>
        

          <% if current_user.p_completed == false %>
            <%= link_to "Profile", uncompleted_path %>
      <% else %>
            <%= link_to "Profile", user_profile_path %>

      <% end %>
        &nbsp;|&nbsp;<%= link_to "Logout", logout_path %><br/><br/>
        Hi <%= current_user.login %>&nbsp;!&nbsp;&nbsp;<%= Time.now.hour %>:<%= Time.now.min %>:<%= Time.now.sec%><br/>
        </div>
    <% else %>
      <%= link_to "Buyer Signup", new_buyer_path %> |
      <%= link_to "Seller Signup", new_seller_path %> |
      <%= link_to "Agent Signup", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
   </div>
   <!-- header wrap end here -->