<%= form_for @user , :html => { :multipart => true } do |form| %>  
    <%= form.error_messages %>
    <div class="formList">
    <table>
    <tr><td>
    <%= form.label :login, "Login" %>
    </td><td>
    <%= form.text_field :login, :class => 'required_field' %>
    <%= hidden_field_tag :nested %>
    </td></tr>
    <tr><td>
    <%= form.label :email, "Email" %>
    </td><td>
    <%= form.text_field :email, :class => 'required_field' %>
    </td></tr>
    <tr><td>
    <%= form.label :password, "Password" %>
    </td><td>
    <%= form.password_field :password, :class => 'required_field' %>
    </td></tr>
    <tr><td>
    <%= form.label :password_confirmation, "Password confirmation" %>
    </td><td>
    <%= form.password_field :password_confirmation, :class => 'required_field'  %>
    </td></tr>
    <tr><td>
    <%= form.label :first_name, "First Name" %>
    </td><td>
    <%= form.text_field :first_name, :class => 'required_field'  %>
    </td></tr>
    <tr><td>
    <%= form.label :middle_initial, "Middle Initial" %>
    </td><td>
    <%= form.text_field :middle_initial %>
    </td></tr>
    <tr><td>
    <%= form.label :last_name, "Last Name" %>
    </td><td>
    <%= form.text_field :last_name, :class => 'required_field'  %>
    </td></tr>
     <tr><td>
    <%= form.label :address1, "Address 1" %>
    </td><td>
    <%= form.text_field  :address1 %>
    </td></tr>
    <tr><td>
    <%= form.label :address2, "Address 2" %>
    </td><td>
    <%= form.text_field  :address2 %>
    </td></tr>
    <%= fields_for @user.user_agent do |user_agents| %>
    <tr><td>
    <%= user_agents.label :broker_name, "Broker Name" %>
    </td><td>
    <%= user_agents.text_field :broker_name %>
    </td></tr>
    <tr><td>
    <%= user_agents.label :company_name, "Company Name" %>
    </td><td>
    <%= user_agents.text_field :company_name %>
    </td></tr>

    <% end %>
    <tr><td>
    <%= form.label :state, "State" %>
    </td><td>
    <%= collection_select(:user, :state, @states, :name, :name, {:prompt => true}, {"style" => "width:291px;"})  %>
    </td></tr>
    <tr><td>
    <%= form.label :city, "City" %>
    </td><td>
    <%= form.text_field :city %>
    </td></tr>
    <tr><td>
    <%= form.label :zip, "zip" %>
    </td><td>
    <%= form.text_field :zip %>
    </td></tr>
    <%= fields_for @user.user_agent do |user_agent| %>
    <tr><td>
    <%= form.label :license %>
    </td><td>
    <%= user_agent.file_field :license, :class => 'required_field'  %>
    </td></tr>
    <tr><td>
    <%= form.label :policy %>
    </td><td>
    <%= user_agent.file_field :policy, :class => 'required_field'  %>
    </td></tr>
    <% end %>
    <tr><td>
    <%= form.check_box :terms_service %>
    </td><td>
    <%= form.label :terms_service, "I have read and agree to Terms of Service " %>
    </td></tr>
    <tr><td>
    <%= form.check_box :privacy_policy  %>
    </td><td>
    <%= form.label "I have read and agree to Privacy Policy " %>
    <%= form.hidden_field :user_type, :value => "agent" %>
    </td></tr>
    <tr><td>
    <%= form.submit "Submit" %>
    </td></tr></table></div>
<% end %> 
