<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="pACcWm38PxTmGUoz2bSmKIzIwpEmqCJDTH6xe2="/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Agent Refund</title>
<%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
<%#= javascript_include_tag 'rails' %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "template" %>
<%= csrf_meta_tag %>
<%= yield(:head) %>
</head>
<body>
<!-- main wrap start here -->
     <div class="main_wrap">
	      <div class="main_container">
		 <%=  render :partial => "shared/header" %>
			   <!-- content wrap start here -->
			   <div class="content_wrap">
                             <% flash.each do |name, msg| %>
                             <%= content_tag :div, msg, :id => "flash_#{name}" %>
                             <% end %>
                             <%= content_tag :h1, yield(:title) if show_title? %>
                             <%= yield %>

			   </div>
			   <!-- content wrap end here -->
		  </div>
	 </div>
<!-- main wrap end here -->
<div class="clear"></div>
 <%=  render :partial => "shared/footer" %>

</body>
</html>